<!DOCTYPE html>

<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
        <meta charset="UTF-8"/>
        <title>관리자</title>
    
     <link rel="stylesheet" href="../../header.css">
     <link rel="stylesheet" href="../../admin/member.css">
 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/> 
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

</head>

<body bgcolor=#fffff3>
	<header>
		<div class= "menu">
			<div id="nav">
				<ul>
					<br>
		            <li class="menuBtn"><a th:href="@{/mypage}">MY PAGE</a></li><br>
		            <li class="menuBtn"><a href="#">menu2</a></li><br>
		            <li class="menuBtn"><a href="#">menu3</a></li><br>
		            <li class="menuBtn"> <a  th:href="@{/createrecipe/createcookrecipe}">레시피 만들기</a></li><br>
		            <li class="menuBtn"><a  th:href="@{/question/list}">자유게시판</a></li><br>
		            
		            <th:block th:if="${session.admin != null}">
		            	<li class="menuBtn" ><a href="/admin/master">Admin</a></li>
		            </th:block>
		            
		             <th:block th:if="${session.admin == null}">
		            <li class="menuBtn"><a  th:href="@{/admin/create}">관리자에게 물어보기!</a></li><br>
		            </th:block>
		        </ul>
		        <a href="#" id="navBtn"><i class="fas fa-bars"></i></a>
			</div>
        	
    		<div id="logo">
    			<a th:href="@{/main}"><h1>I'm chef</h1></a>
    		</div> 
    		
    		<div id="login">
    		    <ul>
               		 <th:block th:if="${session.member == null}">
        				<li><a class="logBtn" th:href="@{/login}">로그인</a></li>
    				</th:block>
    				<th:block th:if="${session.member != null}">
        				<li class="loginId" ><a class="nickName" th:href="@{/mypage}">[[${session.member.nickName}]]</a><span>     ([[${session.member.grade.gradeName}]])님 환영합니다</span>
				      		  <a class="logBtn" th:href="@{/logout}">로그아웃</a></li>
    				</th:block>
    			</ul>
			</div>
    		
		</div>
	</header>
	<hr>
	
     <th:block th:if = "${session.admin == null}">
	     <div class="noBody" >
	    	<h2>잘못된 접근 입니다</h2>
	    </div>
    </th:block>

        <!-- admin_body -->
    <th:block th:if="${session.admin !=null}">
        <div class = "admin_home">
   			<span><a class="admin_home" th:href="@{/admin/master}">관리자 홈</a></span>
   		</div>
   	 	<div>
            <ul class="adminBtn">
             	<li>
             		<a th:href="@{/admin/member}">회원목록</a>
             		<a th:href="@{/admin/list}">Q & A</a>
             	</li>

            </ul>
        </div>
        <div class="table_div">
            <table border="1">
                <thead>
                    <tr>
                        <td colspan="7">회원 개인정보 조회</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="one">ID</th>
                        <th class="two">nickName</th>
                        <th class="three">Birth</th>
                        <th class="four">Tell</th>
                        <th class="five">Grade</th>
                    </tr>
                 </tbody>
                 <tfoot>   
                    <tr th:each="member, loop : ${memberList}">
                        <td th:text="${member.memId}"></td>
                        <td th:text="${member.nickName}"></td>
                        <td th:text="${member.birth}"></td>
                        <td th:text="${member.tell}"></td>
                        <td th:text="${member.grade.gradeName}"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
</th:block>


</body>


<script>
	var nav= $('#nav ul li');
	$('#navBtn').click(function()
        {
            $('#nav').toggleClass('menu');
            if($('#nav').hasClass('menu'))
            {
            $('#nav').animate({left:'0'},400);
            
        }
            else
            {
            $('#nav').animate({left:'-400px'},400);
            
            }
        });
</script>
</html>