<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>search</title>
  <link rel="stylesheet" href="../header.css">
  <link rel="stylesheet" href="../search/searchDetail.css">
  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="/js/jQuery-2.1.4.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	
</head>
<style>
	.star {font-size: 1.5em; color: #ddd;}
    .checkStar {display: none;}
    .yellowStar {color: yellow;}

</style>
	

<body bgcolor=#fffff3>
	<header>
		<div class= "menu">
			<div id="nav">
				<ul>
					<br>
		            <li class="menuBtn"><a th:href="@{/mypage}">MY PAGE</a></li><br>
		            <li class="menuBtn"><a href="#">menu2</a></li><br>
		            <li class="menuBtn"><a href="#">menu3</a></li><br>
		            <li class="menuBtn"> <a  th:href="@{/createrecipe/createcookrecipe}">레시피 만들기</a></li><br>
		            <li class="menuBtn"><a  th:href="@{/question/list}">자유게시판</a></li><br>
		            
		            <th:block th:if="${session.admin != null}">
		            	<li class="menuBtn" ><a href="/admin/master">Admin</a></li>
		            </th:block>
		            
		         <th:block th:if="${session.admin == null}">
		            <li class="menuBtn"><a  th:href="@{/admin/create}">관리자에게 물어보기!</a></li><br>
		            </th:block>		 
		        </ul>
		        <a href="#" id="navBtn"><i class="fas fa-bars"></i></a>
			</div>
        	
    		<div id="logo">
    			<a th:href="@{/main}"><h1>I'm chef</h1></a>
    		</div> 
    		
    		<div id="login">
    		    <ul>
               		 <th:block th:if="${session.member == null}">
        				<li><a class="logBtn" th:href="@{/login}">로그인</a></li>
    				</th:block>
    				<th:block th:if="${session.member != null}">
        				<li class="loginId" ><a class="nickName" th:href="@{/mypage}">[[${session.member.nickName}]]</a><span>     ([[${session.member.grade.gradeName}]])님 환영합니다</span>
				      		  <a class="logBtn" th:href="@{/logout}">로그아웃</a></li>
    				</th:block>
    			</ul>
			</div>
    		
		</div>
	</header>
	<hr>
	<div>
	<div class="table" >
		<table>
			<thead>
				<tr>
                    <th colspan="3">[[${cookRecipe.rcpNm}]]</th>
                </tr>
                <tr class="starAndWish" colspan="3">  
                	<th id="star" colspan="2">                  	
	                    <label class="star" for="star1">★</label><input type="radio" class="checkStar" id="star1" value="1" name="selectstar">
						<label class="star" for="star2">★</label><input type="radio" class="checkStar" id="star2" value="2" name="selectstar">
						<label class="star" for="star3">★</label><input type="radio" class="checkStar" id="star3" value="3" name="selectstar">
						<label class="star" for="star4">★</label><input type="radio" class="checkStar" id="star4" value="4" name="selectstar">
						<label class="star" for="star5">★</label><input type="radio" class="checkStar" id="star5" value="5" name="selectstar">
	 					<th:block th:if="${session.member == null}">
	 						<button type="button" disabled="disabled" class="starScore">별주기<br>(로그인필요)</button>  
 						</th:block>  
 						<th:block th:if="${session.member != null}">
	                    	<button type="button" class="starScore">별주기</button>  
 						</th:block>  
 					</th>
 					<th id="wishList" colspan="2">
 						<th:block th:if="${session.member == null}" colspan="2">
                    	<button type="button" disabled="disabled" th:value="${cookRecipe.rcpSeq}" class="wishList" >찜하기<br>(로그인필요)</button>
                    	</th:block>
                    	<th:block th:if="${session.member != null}" colspan="2">
                    	<button type="button" th:value="${cookRecipe.rcpSeq}" class="wishList" >찜하기</button>
                    	</th:block>
 					</th>	           
                </tr>
                <tr>
                    <th colspan="3">
                    	<img class="tableImg" th:src="${cookRecipe.attFileNoMk}" alt="첨부이미지" >
                    </th>
                </tr>
                <tr>
                    <th>조회수 : [[${cookRecipe.readCount}]]</th>
                    <th>조리 방법 : [[${cookRecipe.rcpWay2}]]</th>
                    <th>요리 종류 : [[${cookRecipe.rcpPat2}]]</th>
                </tr>
                <tr>
					<th colspan="3" >요리 재료</th>
				</tr>
				<tr>
					<th colspan="3" >[[${cookRecipe.rcpPartsDtls}]]</th>
				</tr>                
            </thead>
            <tbody >
            	<tr>
                	<td colspan="3">조리 방법</td>
                </tr>
                <tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual01 != null}">[[${cookRecipe.manual01}]]</td>
					<td th:if="${cookRecipe.manualImg01 != null}" ><img width="200" th:src="${cookRecipe.manualImg01}" alt="첨부이미지" ></td>
				</tr>
				<!-- 1번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual02 != null}">[[${cookRecipe.manual02}]]</td>
					<td th:if="${cookRecipe.manualImg02 != null}" ><img width="200" th:src="${cookRecipe.manualImg02}" alt="첨부이미지" ></td>
				</tr>
				<!-- 2번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual03 != null}">[[${cookRecipe.manual03}]]</td>
					<td th:if="${cookRecipe.manualImg03 != null}" ><img width="200" th:src="${cookRecipe.manualImg03}" alt="첨부이미지" ></td>
				</tr>
				<!-- 3번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual04 != null}">[[${cookRecipe.manual04}]]</td>
					<td th:if="${cookRecipe.manualImg04 != null}" ><img width="200" th:src="${cookRecipe.manualImg04}" alt="첨부이미지" ></td>
				</tr>
				<!-- 4번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual05 != null}">[[${cookRecipe.manual05}]]</td>
					<td th:if="${cookRecipe.manualImg05 != null}" ><img width="200" th:src="${cookRecipe.manualImg05}" alt="첨부이미지" ></td>
				</tr>
				<!-- 5번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual06 != null}">[[${cookRecipe.manual06}]]</td>
					<td th:if="${cookRecipe.manualImg06 != null}" ><img width="200" th:src="${cookRecipe.manualImg06}" alt="첨부이미지" ></td>
				</tr>
				<!-- 6번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual07 != null}">[[${cookRecipe.manual07}]]</td>
					<td th:if="${cookRecipe.manualImg07 != null}" ><img width="200"th:src="${cookRecipe.manualImg07}" alt="첨부이미지" ></td>
				</tr>
				<!-- 7번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual08 != null}">[[${cookRecipe.manual08}]]</td>
					<td th:if="${cookRecipe.manualImg08 != null}" ><img width="200" th:src="${cookRecipe.manualImg08}" alt="첨부이미지" ></td>
				</tr>
				<!-- 8번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual09 != null}">[[${cookRecipe.manual09}]]</td>
					<td th:if="${cookRecipe.manualImg09 != null}" ><img width="200" th:src="${cookRecipe.manualImg09}" alt="첨부이미지" ></td>
				</tr>
				<!-- 9번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual10 != null}">[[${cookRecipe.manual10}]]</td>
					<td th:if="${cookRecipe.manualImg10 != null}" ><img width="200" th:src="${cookRecipe.manualImg10}" alt="첨부이미지" ></td>
				</tr>
				<!-- 10번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual11 != null}">[[${cookRecipe.manual11}]]</td>
					<td th:if="${cookRecipe.manualImg11 != null}" ><img width="200" th:src="${cookRecipe.manualImg11}" alt="첨부이미지" ></td>
				</tr>
				<!-- 11번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual12 != null}">[[${cookRecipe.manual12}]]</td>
					<td th:if="${cookRecipe.manualImg12 != null}" ><img width="200" th:src="${cookRecipe.manualImg12}" alt="첨부이미지" ></td>
				</tr>
				<!-- 12번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual13 != null}">[[${cookRecipe.manual13}]]</td>
					<td th:if="${cookRecipe.manualImg13 != null}" ><img width="200" th:src="${cookRecipe.manualImg13}" alt="첨부이미지" ></td>
				</tr>
				<!-- 13번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual14 != null}">[[${cookRecipe.manual14}]]</td>
					<td th:if="${cookRecipe.manualImg14 != null}" ><img width="200" th:src="${cookRecipe.manualImg14}" alt="첨부이미지" ></td>
				</tr>
				<!-- 14번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual15 != null}">[[${cookRecipe.manual15}]]</td>
					<td th:if="${cookRecipe.manualImg15 != null}" ><img width="200" th:src="${cookRecipe.manualImg15}" alt="첨부이미지" ></td>
				</tr>
				<!-- 15번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual16 != null}">[[${cookRecipe.manual16}]]</td>
					<td th:if="${cookRecipe.manualImg16 != null}" ><img width="200" th:src="${cookRecipe.manualImg16}" alt="첨부이미지" ></td>
				</tr>
				<!-- 16번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual17 != null}">[[${cookRecipe.manual17}]]</td>
					<td th:if="${cookRecipe.manualImg17 != null}" ><img width="200" th:src="${cookRecipe.manualImg17}" alt="첨부이미지" ></td>
				</tr>
				<!-- 17번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual18 != null}">[[${cookRecipe.manual18}]]</td>
					<td th:if="${cookRecipe.manualImg18 != null}" ><img width="200" th:src="${cookRecipe.manualImg18}" alt="첨부이미지" ></td>
				</tr>
				<!-- 18번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual19 != null}">[[${cookRecipe.manual19}]]</td>
					<td th:if="${cookRecipe.manualImg19 != null}" ><img width="200" th:src="${cookRecipe.manualImg19}" alt="첨부이미지" ></td>
				</tr>
				<!-- 19번 설명 -->
				<tr>
					<td colspan="2" align="left" th:if="${cookRecipe.manual20 != null}">[[${cookRecipe.manual20}]]</td>
					<td th:if="${cookRecipe.manualImg20 != null}" ><img width="200" th:src="${cookRecipe.manualImg20}" alt="첨부이미지" ></td>
				</tr>
				<!-- 20번 설명 -->
			</tbody>
			<!-- 조리방법 -->
	    </table>
	    <a type="button" class="returnBtn" th:href="@{/list}">레시피 목록으로 돌아가기</a>
	    <hr>
	
	</div>


<div id="coment">
	<h3>댓글</h3>
	<!--답변 반복 시작-->
    <div class="coment" th:each="coment : ${cookRecipe.comentList}">
    	<div class="coment-body">
    		  <div class="coment-text" style="white-space: pre-line;">[[${coment.content}]]</div>
   				 <div class="d-flex justify-content-end">
    				<div class="badge bg-light text-dark p-2 text-start">
    				      				  
    				
					    
           			    <div class="writer">
           			    	<span>작성자 : [[${coment.memId.nickName}]]</span>
           			    	<span>작성 일지 : [[${#temporals.format(coment.createDate, 'yyyy-MM-dd HH:mm')}]]</span>
           			    </div> 
           			    <div>
           			    <div class="my-3">
           			    
           			    		<th:block th:if="${session.member != null}">	
				          	  	<a th:href="@{|/coment/modify/${coment.comentNo}|}" class="btn btn-sm btn-outline-secondary"
								>댓글 수정</a>
								<a type="button" id="comentDelite" th:href="@{|/coment/delete/${coment.comentNo}|}"
				                >댓글 삭제</a>
				        </div>
					    
           			  </div>
    			</div>
    	</div>
    	
    </div><!--답변 반복 끝-->
 </div>   
 </div>
    <hr>
	
	    <!--답변 작성-->
	<div class="createComent">
		<th:block th:if="${session.member == null}">		
   			<span> 댓글은 로그인 후 작성 가능합니다</span>					
		</th:block>
    	<th:block th:if="${session.member != null}">		
	    <form th:action="@{|/coment/create/${cookRecipe.rcpSeq}|}"
	          th:object="${comentForm}" method="post">
	          
			
	        <textarea th:field="${comentForm.content}" rows="10" ></textarea><br>
	   		 <input type="submit" value="댓글등록" />
	   		
	    </form>
	    </th:block>
	</div>
    


</div>

	
</body>
<script>
	var checkStar = document.querySelectorAll(".checkStar");
	var star = document.querySelectorAll(".star");
	var result;
	
	function color(event) {
		const num = parseInt(event.target.value);
		for(var i=0; i<checkStar.length; i++){
			star[i].classList.remove("yellowStar");
		}
		for(var i=0; i<num; i++){
	    	star[i].classList.add("yellowStar");
		}
	}			
	for(var i=0; i<checkStar.length; i++){
		checkStar[i].addEventListener("click", color);
	}
	var score = 0;
	$(checkStar).on('click',function(){
		result = $(this).val();
		console.log("1 :"+result);
		score=result;
		console.log("2 :"+score);
	})
	var rcpSeq = document.getElementById('rcpSeq');
	
	$(document).on( 'click', '.starScore', function() {
		
		
		console.log("3 :"+score);
		$.ajax({
			url:'/starscore',
			dataType:'text',
			type: 'GET',
			
			data:{
				rcpSeq:$(".wishList").val(),
				score: result
			},
			
			success: function(result){
				if(result == 'notNull'){
					console.log("실패");
					alert("이미 평가하셨습니다.");
						
				}else{
					console.log("성공");
					alert("감사합니다.");
				}
					
			},
			error: function (xhr) {
				console.log("4 :"+xhr);
				alert(xhr.status + ':' + xhr.statusText);
			}
		}) // $.ajax end
	}); // starScore click end
	

</script>
<script>


	var rcpSeq = document.getElementById('rcpSeq');	
	$(document).on( 'click', '.wishList', function() {
		
		console.log(event.target.value);
		$.ajax({
			url:'/wishlist',
			dataType : 'text',
			type:'GET',
			data:{
				rcpSeq:$(event.target).val()				
			},
			success: function (result){
				if(result == 'notNull'){
					console.log("실패");
					alert("이미 찜 목록에 있습니다");
					
				}else{
					console.log("성공");
					alert("찜 목록에 추가되었습니다");
				}
				
				
			},
			error: function (xhr) {
				console.log(xhr);
				alert(xhr.status + ':' + xhr.statusText);
			}			
		}) // $.ajax end
	}); // wishlist click end


</script>
<script>
	var nav= $('#nav ul li');
	$('#navBtn').click(function()
        {
            $('#nav').toggleClass('menu');
            if($('#nav').hasClass('menu'))
            {
            $('#nav').animate({left:'0'},400);
            
        }
            else
            {
            $('#nav').animate({left:'-400px'},400);
            
            }
        });
</script>

</html>