<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
   <link rel="stylesheet" href="../header.css">
 <link rel="stylesheet" href="../createCookRecipe/createlist.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

</head>

<body bgcolor=#fffff3>
	<header>
		<div class= "menu">
			<div id="nav">
				<ul>
					<br>
		            <li class="menuBtn"><a th:href="@{/mypage}">MY PAGE</a></li><br>
		            <li class="menuBtn"><a href="#">menu2</a></li><br>
		            <li class="menuBtn"><a href="#">menu3</a></li><br>
		            <li class="menuBtn"> <a  th:href="@{/createrecipe/createcookrecipe}">레시피 만들기</a></li><br>
		            <li class="menuBtn"><a  th:href="@{/question/list}">자유게시판</a></li><br>
		            
		            <th:block th:if="${session.admin != null}">
		            	<li class="menuBtn" ><a href="/admin/master">Admin</a></li>
		            </th:block>
		            
		           <th:block th:if="${session.admin == null}">
		            <li class="menuBtn"><a  th:href="@{/admin/create}">관리자에게 물어보기!</a></li><br>
		            </th:block>		 
		        </ul>
		        <a href="#" id="navBtn"><i class="fas fa-bars"></i></a>
			</div>
        	
    		<div id="logo">
    			<a th:href="@{/main}"><h1>I'm chef</h1></a>
    		</div> 
    		
    		<div id="login">
    		    <ul>
               		 <th:block th:if="${session.member == null}">
        				<li><a class="logBtn" th:href="@{/login}">로그인</a></li>
    				</th:block>
    				<th:block th:if="${session.member != null}">
        				<li class="loginId" ><a class="nickName" th:href="@{/mypage}">[[${session.member.nickName}]]</a><span>     ([[${session.member.grade.gradeName}]])님 환영합니다</span>
				      		  <a class="logBtn" th:href="@{/logout}">로그아웃</a></li>
    				</th:block>
    			</ul>
			</div>
    		
		</div>
	</header>
	<hr>
	<div id="createList">
	<h2>직접 만든 레시피</h2>
	<div class="createBtn">
		<a href="register.html" th:href="@{/createrecipe/register}">레시피 등록하기</a>
	</div>
	<hr>
	<div id="table">
		
		<div class="table">
    	<div th:each="createCookRecipe : ${createCr}">
        	  <ul>
            	<li class="title">[[${createCookRecipe.rcpNm}]]</li>
            </ul>
            <ul class="sub">
            	<li>별점 : [[${createCookRecipe.StarScoreAvg}]]</li>  
                <li> 조회수 : [[${createCookRecipe.readCount}]] </li>     	
	             <th:block th:if="${session.member == null}">
	             <li class="wishListBtn"> 
        			<button type="button"  disabled="disabled" th:value="${createCookRecipe.rcpSeq}" class="wishList" id="w1" >찜하기(로그인필요)</button>
        		</li>	
    			</th:block>
    			<th:block th:if="${session.member != null}">
    			 <li class="wishListBtn">
        			<button type="button"  th:value="${createCookRecipe.rcpSeq}" class="wishList" >찜 하기</button>
        		</li>
    			</th:block>
		    </ul>	
    		<ul>	
		            <a class="rcpSeq" id="rcpSeq" th:href="@{/createrecipe/detail/}+${createCookRecipe.rcpSeq}">
			            <img th:src="@{/createrecipe/displayFile?f}+${createCookRecipe.menuals[0].fullName}"/>
			            
			         </a>    
	            
	     	</ul>  
	        <ul class="text">                    
            	<li>조리방법 : [[${createCookRecipe.rcpWay2}]]</li>
				<li>요리구분 : [[${createCookRecipe.rcpPat2}]]</li>
				
	        </ul>
	        <br>
	        <hr>
		</div>
	</div>
		
	</div>
	</div>
</body>


<script>


	var rcpSeq = document.getElementById('rcpSeq');	
	$(document).on( 'click', '.wishList', function() {
		
		console.log(event.target.value);
		$.ajax({
			url:'/wishlist',
			dataType : 'text',
			type:'GET',
			data:{
				rcpSeq:$(event.target).val()				
			},
			success: function (result){
				if(result == 'notNull'){
					console.log("실패");
					alert("이미 찜 목록에 있습니다");
					
				}else{
					console.log("성공");
					alert("찜 목록에 추가되었습니다");
				}
				
				
			},
			error: function (xhr) {
				console.log(xhr);
				alert(xhr.status + ':' + xhr.statusText);
			}			
		}) // $.ajax end
	}); // wishlist click end


</script>
<script>
	var nav= $('#nav ul li');
	$('#navBtn').click(function()
        {
            $('#nav').toggleClass('menu');
            if($('#nav').hasClass('menu'))
            {
            $('#nav').animate({left:'0'},400);
            
        }
            else
            {
            $('#nav').animate({left:'-400px'},400);
            
            }
        });
</script>
</html>