 <!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>home</title>
  
   <link rel="stylesheet" href="../header.css">
   <link rel="stylesheet" href="../question/questionList.css">
   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body bgcolor=#fffff3>
	<header>
		<div class= "menu">
			<div id="nav">
				<ul>
					<br>
		            <li class="menuBtn"><a th:href="@{/mypage}">MY PAGE</a></li><br>
		            <li class="menuBtn"><a href="#">menu2</a></li><br>
		            <li class="menuBtn"><a href="#">menu3</a></li><br>
		            <li class="menuBtn"> <a  th:href="@{/createrecipe/createcookrecipe}">레시피 만들기</a></li><br>
		            <li class="menuBtn"><a  th:href="@{/question/list}">자유게시판</a></li><br>
		            
		            <th:block th:if="${session.admin != null}">
		            	<li class="menuBtn" ><a href="/admin/master">Admin</a></li>
		            </th:block>
		            
		          <th:block th:if="${session.admin == null}">
		            <li class="menuBtn"><a  th:href="@{/admin/create}">관리자에게 물어보기!</a></li><br>
		            </th:block>		 
		        </ul>
		        <a href="#" id="navBtn"><i class="fas fa-bars"></i></a>
			</div>
        	
    		<div id="logo">
    			<a th:href="@{/main}"><h1>I'm chef</h1></a>
    		</div> 
    		
    		<div id="login">
    		    <ul>
               		 <th:block th:if="${session.member == null}">
        				<li><a class="logBtn" th:href="@{/login}">로그인</a></li>
    				</th:block>
    				<th:block th:if="${session.member != null}">
        				<li class="loginId" ><a class="nickName" th:href="@{/mypage}">[[${session.member.nickName}]]</a><span>     ([[${session.member.grade.gradeName}]])님 환영합니다</span>
				      		  <a class="logBtn" th:href="@{/logout}">로그아웃</a></li>
    				</th:block>
    			</ul>
			</div>
    		
		</div>
	</header>
	<hr>
	
<div class="container my-3"> <!--<th:block layout:fragment="content"></th:block>-->
	<div id="if">
	  			 	<th:block th:if="${session.member != null}">	  	
       					<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a> <!--질문버튼추가 부트스트랩으로 버튼디자인!-->			
	    			</th:block>
	    			
     				<th:block th:if="${session.member == null}">		
        						<span> 질문등록은 로그인 후 가능합니다</span>
    				</th:block>
	  
	</div> 
    <table class="table">
        <thead class="table-dark">
	        <tr>
	            <th id="tableNum">번호</th>
	            <th id="tableTitle">제목</th>
	            <th id="tableReview">댓글 수</th>
	            <th id="tablewriter">작성자</th>
	            <th id="tableTime">작성일시</th>
	        </tr>
        </thead>
        <tbody>
	        <tr th:each="question, loop : ${paging}">
	            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
	            <!--<td th:text="${loop.count}"></td>테이블항목에 번호추가-->
	            <td>
	                <a th:href="@{|/question/detail/${question.questionNo}|}" th:text="${question.title}"></a>
	            
	            </td>
	            <!--해당질문에 달린답변개수 표시-->
	            <td>
	            	<span class="text-danger small ms-2"
	            	th:if="${#lists.size(question.answerList) > 0}">
	            	[[${#lists.size(question.answerList)}]]</span>
	            </td>
	            
	            <td th:text="${question.memId.nickName}"></td>
	            
	            <!--날짜객체 날짜포맷에맞게 변환-->
	            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
	        </tr>
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}"><!--paging.isEmpty:페이지존재여부(게시물있으면 false,없으면 true)-->
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
            <!-- !paging.hasPrevious - disabled : 이전페이지가 없으면 비활성화-->

                <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                <!--이전페이지 링크-->
                    <span>이전</span>
                </a>
            </li>


            <!--th:each :페이지 리스트 루프--> <!--#numbers.sequence(시작, 끝)-->
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"

                th:if="${page >= paging.number-5 and page <= paging.number+5}"

            th:classappend="${page == paging.number} ? 'active'"
            class="page-item">
            <!--page == paging.number : 현재페이지와 같으면 active 적용-->

                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>


            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
            <!-- !paging.hasNext - disabled : 다음페이지 없으면 비활성화-->

                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                <!--다음페이지 링크-->
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
	
</div>
</body>
<script>
	var nav= $('#nav ul li');
	$('#navBtn').click(function()
        {
            $('#nav').toggleClass('menu');
            if($('#nav').hasClass('menu'))
            {
            $('#nav').animate({left:'0'},400);
            
        }
            else
            {
            $('#nav').animate({left:'-400px'},400);
            
            }
        });
</script>

</html>