@charset "UTF-8";
/* font-family: 'Dongle', sans-serif; */

#loginform{
	position: relative;
	text-align: center;
	top: 200px;
	max-width: 600px;
    margin: 10px auto;
    padding: 0 20px;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#loginform h2{
	font-family: 'Dongle', sans-serif;
	font-size: 90px;
}
#loginform div {
	font-family: 'Dongle', sans-serif;
	font-size: 60px;
	
}
#loginform div input{
	height: 45px;
	width: 400px;
	font-size: 30px;
	text-align: center;
} 

#loginform  button{
	
	height: 60px;
	width: 100px;
	border: 0px;
	font-family: 'Dongle', sans-serif;
	font-size: 60px;
	background-color: rgba(0,0,0,0);
}
.btn{
	display:inline-block;
	height: 100px;
	width: 250px;
	background-color: red ;
	font-family: 'Dongle', sans-serif;
	font-size: 60px;
	background-color: rgba(0,0,0,0);
}


