@charset "UTF-8";
/* font-family: 'Dongle', sans-serif; */


#signupform{
	position: relative;
	text-align: center;
	top: 60px;
	max-width: 600px;
    margin: 10px auto;
    padding: 0 20px;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
	
}

#signupform h3{
	font-family: 'Dongle', sans-serif;
	font-size: 90px;
}


#signupform div label{
	font-family: 'Dongle', sans-serif;
	font-size: 50px;
}
#signupform div input {
	height: 45px;
	width: 400px;
	font-size: 30px;
	text-align: center;
	
}
#signupform div .form-control{
	height: 45px;
	width: 200px;
}
#signupform .btn{
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
}
#signupform .btn1{
	height: 45px;
	width: 100px;
}
#signupform .btn2{
	height: 45px;
	width: 50px;
}

#successSingup{
	height: 45px;
	width: 100%;
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
	margin : 30px 0px 60px;
}
.signupbutton{
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
	
}