<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>아이디 찾기</title>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<link rel="stylesheet" href="header.css">
	<link rel="stylesheet" href="member/findId.css">
	
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/> 
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body bgcolor=#fffff3>
	<header>
		<div class= "menu">
			<div id="nav">
				<ul>
					<br>
		            <li class="menuBtn"><a th:href="@{/mypage}">MY PAGE</a></li><br>
		            <li class="menuBtn"><a href="#">menu2</a></li><br>
		            <li class="menuBtn"><a href="#">menu3</a></li><br>
		            <li class="menuBtn"> <a  th:href="@{/createrecipe/createcookrecipe}">레시피 만들기</a></li><br>
		            <li class="menuBtn"><a  th:href="@{/question/list}">자유게시판</a></li><br>
		            
		            <th:block th:if="${session.admin != null}">
		            	<li class="menuBtn" ><a href="/admin/master">Admin</a></li>
		            </th:block>
		            
		           <th:block th:if="${session.admin == null}">
		            <li class="menuBtn"><a  th:href="@{/admin/create}">관리자에게 물어보기!</a></li><br>
		            </th:block>		 
		        </ul>
		        <a href="#" id="navBtn"><i class="fas fa-bars"></i></a>
			</div>
        	
    		<div id="logo">
    			<a th:href="@{/main}"><h1>I'm chef</h1></a>
    		</div> 
    		
    		<div id="login">
    		    <ul>
               		 <th:block th:if="${session.member == null}">
        				<li><a class="logBtn" th:href="@{/login}">로그인</a></li>
    				</th:block>
    				<th:block th:if="${session.member != null}">
        				<li class="loginId" ><a class="nickName" th:href="@{/mypage}">[[${session.member.nickName}]]</a><span>     ([[${session.member.grade.gradeName}]])님 환영합니다</span>
				      		  <a class="logBtn" th:href="@{/logout}">로그아웃</a></li>
    				</th:block>
    			</ul>
			</div>
    		
		</div>
	</header>
	<hr>
	<div class="wrap" id="findId">
	
		<h2>아이디 찾기</h2>
		<div>
			<span>닉네임</span><br/>			
			<input type="text" id="nickName"/><br/><br/>
		</div>
		<div>
			<span>생년월일</span><br/>
			<input type="text" id="birth"/><br/><br/>
		</div>
		
			
	    <button type="button" id="findIdBtn">아이디 찾기</button><br/><br/><br/>
		
			
	</div>
	
</body>
<script>
		
	
		var findIdBtn = document.getElementById('findIdBtn');
		var keyInput = document.getElementById('keyInput');
		var keyDiv = document.getElementById('keyDiv');

		var nickName = document.getElementById('nickName');
		var birth = document.getElementById('birth');
		

	findIdBtn.onclick = function(){
			
			 //var keyPattern = /^[0-9]{6}$/;
			
            if(nickName.value == ""){
				alert('닉네임을 입력해주세요.');
							
			}else if(birth.value == ""){
				alert('생년월일을 입력해주세요.');	

			}else{
               	
                $.ajax({
					
                    url: '/getKeyToFindId',
                    data: {
                        nickName: $('#nickName').val(),
                        birth: $('#birth').val()
                    },
                    success:function (result){
						
                    	if (result != null ){
							alert("아이디는 "+result+"입니다"); 
							location.href  = "/login";
						   
						}
						else{
							  alert("아이디를 찾을수 없습니다");   
						};						                    
                     },
                    error: function(xhr) {
                        console.log(xhr);
                        alert(xhr.status + ':' + xhr.statusText);
                    }
                    
                   
                })
            }


		}
		
		
	</script>
	
<script>
	var nav= $('#nav ul li');
	$('#navBtn').click(function()
        {
            $('#nav').toggleClass('menu');
            if($('#nav').hasClass('menu'))
            {
            $('#nav').animate({left:'0'},400);
            
        }
            else
            {
            $('#nav').animate({left:'-400px'},400);
            
            }
        });
</script>
</html>


