<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    
   <link rel="stylesheet" href="header.css">
   <link rel="stylesheet" href="member/memberDetail.css">
   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/> 
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body bgcolor=#fffff3>
	<header>
		<div class= "menu">
			<div id="nav">
				<ul>
					<br>
		            <li class="menuBtn"><a th:href="@{/mypage}">MY PAGE</a></li><br>
		            <li class="menuBtn"><a href="#">menu2</a></li><br>
		            <li class="menuBtn"><a href="#">menu3</a></li><br>
		            <li class="menuBtn"> <a  th:href="@{/createrecipe/createcookrecipe}">레시피 만들기</a></li><br>
		            <li class="menuBtn"><a  th:href="@{/question/list}">자유게시판</a></li><br>
		            
		            <th:block th:if="${session.admin != null}">
		            	<li class="menuBtn" ><a href="/admin/master">Admin</a></li>
		            </th:block>
		            
		           <th:block th:if="${session.admin == null}">
		            <li class="menuBtn"><a  th:href="@{/admin/create}">관리자에게 물어보기!</a></li><br>
		            </th:block>		 
		        </ul>
		        <a href="#" id="navBtn"><i class="fas fa-bars"></i></a>
			</div>
        	
    		<div id="logo">
    			<a th:href="@{/main}"><h1>I'm chef</h1></a>
    		</div> 
    		
    		<div id="login">
    		    <ul>
               		 <th:block th:if="${session.member == null}">
        				<li><a class="logBtn" th:href="@{/login}">로그인</a></li>
    				</th:block>
    				<th:block th:if="${session.member != null}">
        				<li class="loginId" ><a class="nickName" th:href="@{/mypage}">[[${session.member.nickName}]]</a><span>     ([[${session.member.grade.gradeName}]])님 환영합니다</span>
				      		  <a class="logBtn" th:href="@{/logout}">로그아웃</a></li>
    				</th:block>
    			</ul>
			</div>
    		
		</div>
	</header>
	<hr>
	<div th:if="${member == null}" class="form_main">
		<h3>로그인 후 접근이 가능합니다</h3>
	</div>


    <div th:if="${member != null}" class="form_main" >
		<h3>마이페이지</h3>
		<div class ="table">
			<ul>
				<li>아이디 : [[${member.memId}]]</li>
			</ul>
			
			<ul>
				<li>닉네임 : [[${member.nickName}]]</li>
			</ul>
			<hr>
			<ul class="pw">
			
				<li>현재 비밀번호 :
					<input id="inputOldPw" type="password" class="input"></input><br/>
				</li>
				
				<li>새 비밀번호 :
					<input id="inputNewPw" type="password" class="input"></input><br/>
				</li>
				
				<li>새 비밀번호 확인 :
					<input id="inputNewPw2" type="password" class="input"></input><br/>
				</li>
				<button type="button" class="chengeBtn" id="changePwBtn">비밀번호 변경</button><br><br>
			</ul>
			<hr>
			<ul class="nick">
				<li>닉네임 : 			
					<input id="inputNewName" type="text" th:value="${member.nickName}" class="input"></input>
				</li>
				<button type="button" class="chengeBtn" id="changeNameBtn">닉네임 변경</button><br><br>
			</ul>
			<hr>
			<ul class="tell">
				<li>전화번호 :
					<input id="inputNewTell" type="text" th:value="${member.tell}" class="input"></input>
				</li>
				<button type="button" class="chengeBtn" id="changeTellBtn">전화번호 변경</button><br>
			</ul>
			<hr>
			<ul>
				<li>
					<a type="button" th:href="@{/main}">수정완료</a>
				</li>
			</ul>
		</div>
    </div>
    <script>

    	var inputNewPw = document.getElementById('inputNewPw');
    	var inputNewName = document.getElementById('inputNewName');
    	var inputNewTell = document.getElementById('inputNewTell');

    	inputNewName.addEventListener('focusin', function(){
    		inputNewName.value = null;
    	})
    	
    	inputNewTell.addEventListener('focusin', function(){
    		inputNewTell.value = null;
    	})
    	

    	
    	
    	//비밀번호 변경
    	var changePwBtn = document.getElementById('changePwBtn');
    	
    	changePwBtn.onclick = function(){
    		var inputOldPw = document.getElementById('inputOldPw');
   			var inputNewPw = document.getElementById('inputNewPw');
    		var inputNewPw2 = document.getElementById('inputNewPw2');
    		
    		if(inputNewPw.value == ''){
    			alert('변경할 내용이 없습니다.');
    			
    		}else{
    		
	    		$.ajax({
	    			url: '/changePwWithOldPw',
	    			data: {
	    				inputOldPw: $('#inputOldPw').val(),
	    				inputNewPw: $('#inputNewPw').val(),
	    				inputNewPw2: $('#inputNewPw2').val()
	    			},
	
	    			success:
	    				function(result){
	    				
	    					if(result == 'oldPwError'){
	    						alert('비밀번호를 정확하게 입력해주세요.');
	    						window.location.reload();
	    					}else if(result == 'regex') {
		    					alert('8-16자의 영문 대/소문자, 숫자, 특수문자를 사용하세요.');
		    					window.location.reload();
		    					
		    				}else if(result == 'same'){
								alert('현재 사용중인 비밀번호입니다.');
								window.location.reload();
								
							}else if(result == 'unequal'){
								alert('새 비밀번호와 비밀번호 확인이 일치하지 않습니다.');
								window.location.reload();
								
							}else if(result == 'true') {
		    					alert('비밀번호 변경 완료');
		    					window.location.reload();
		    				}
		    					
	    				},
	    				
	    			error: function( xhr ) {
			    		 console.log( xhr );
			    		 alert(xhr.status + ':' + xhr.statusText);
	    			
	    			}	
	    				
	    		})
    		}
    	}
    	
    	//닉네임 변경
    	var changeNameBtn = document.getElementById('changeNameBtn');
    	
    	changeNameBtn.onclick = function(){
    		$.ajax({
    			url: '/changeName',
    			data: {
    				inputNewName: $('#inputNewName').val()
    			},

    			success:
    				function(result){
    				
						if(result == 'same'){
							alert('현재 사용중인 닉네임입니다.');
							window.location.reload();
							
						}else if(result == 'regex') {
	    					alert('닉네임을 다시 확인해주세요.');
	    					window.location.reload();
	    					
	    				}else if(result == 'true') {
	    					alert('닉네임 변경 완료');
	    					window.location.reload();
	    				}
						
    				},
    				
    			error: function( xhr ) {
		    		 console.log( xhr );
		    		 alert(xhr.status + ':' + xhr.statusText);
    			
    			}	
    				
    		})
    	}
    	
    	
    	
    	
    	//전화번호 변경
      	var changeTellBtn = document.getElementById('changeTellBtn');
    	
      	changeTellBtn.onclick = function(){
    		$.ajax({
    			url: '/changeTell',
    			data: {
    				inputNewTell: $('#inputNewTell').val()
    			},

    			success:
    				function(result){
    				
						if(result == 'same'){
							alert('현재 사용중인 전화번호입니다.');
							window.location.reload();
							
						}else if(result == 'regex') {
	    					alert('형식에 맞지 않는 전화번호입니다.');
	    					window.location.reload();
	    					
	    				}else if(result == 'true') {
	    					alert('전화번호 변경 완료');
	    					window.location.reload();
	    				}
    				},
    				
    			error: function( xhr ) {
		    		 console.log( xhr );
		    		 alert(xhr.status + ':' + xhr.statusText);
    			
    			}	
    				
    		})
    	}

   
    </script>
    
</body>
<script>
	var nav= $('#nav ul li');
	$('#navBtn').click(function()
        {
            $('#nav').toggleClass('menu');
            if($('#nav').hasClass('menu'))
            {
            $('#nav').animate({left:'0'},400);
            
        }
            else
            {
            $('#nav').animate({left:'-400px'},400);
            
            }
        });
</script>
</html>